/*****************************
GLOBAL
*****************************/
a {
	text-decoration: none;
}

/*****************************
MAIN APPLICATION
*****************************/
.main-container {
	display: flex;

	/* Misc */
	border: 1px solid #cbd5e0;
	height: 100vh;
	width: 100%;
}
.localstorage-history {
	/* Initially, the left takes 3/4 width */
	width: 15%;
}
.resizer {
	background-color: #cbd5e0;
	height: 100%;
	width: 1px;
}
.form-container {
	width: 100vw;
	/* align-items: center;
	justify-content: center; */
	/* height: 100vh; */
	margin: auto;
	/* top: 33%;
	bottom: 33%;
	position: relative; */
}
