/*****************************
GLOBAL
*****************************/
a {
	text-decoration: none;
}

footer {
	border-top: 1px solid #cbd5e0;
}

audio {
	width: 100%;
}

.list-container {
	height: 1300px;
	overflow-y: auto;
}

/*****************************
BODY-DARK
*****************************/
body.light-mode {
	background-color: #fff;
	
}

body.dark-mode {
	background-color: #222;
	color: #fff;
}

body.dark-mode .card {
	background-color: transparent;
	
}

body.dark-mode .modal-content, body.dark-mode .btn-dark, body.dark-mode .card-body {
	background-color: #222;
}

body.dark-mode .bg-light {
	background-color: transparent !important;
}

body.dark-mode .btn-light {
	color: #fff;
	background-color: transparent;
}

body.dark-mode a, body.dark-mode .btn-link {
	color: #d63384;
}

body.dark-mode a:hover, body.dark-mode .btn-link:hover {
	color: #ff007f;
}

body.dark-mode  .form-jumbotron {
	background-color: #212529;
}

body.dark-mode  footer {
	background-color: #212529;
}

body.dark-mode .list-group-item {
	background-color: #212529;
}

/*****************************
MAIN APPLICATION
*****************************/
.main-container {
	display: flex;

	/* Misc */
	height: 100%;
	width: 100%;
	bottom: 0px;
}
.localstorage-history {
	/* Initially, the left takes 3/4 width */
	width: 15%;
}
.resizer {
	background-color: #cbd5e0;
	height: 100%;
	width: 1px;
}
.form-container {
	width: 100vw;
	/* align-items: center;
	justify-content: center; */
	/* height: 100vh; */
	margin: auto;
	/* top: 33%;
	bottom: 33%;
	position: relative; */
}
